*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    height: 70px;
    border-bottom: 8px solid black;
}
button {
    float: right;
    margin-top: 10px;
    border-radius: 7px;
    margin-right: 5px;
    padding: 3px;
}

.container {
    display: flex;
}
.box1{
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 2px;
    height: 900px;
    width: 50%;
    border-right: 8px solid black;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    display: flex;
}
.box2 {
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 2px;
    height: 900px;
    width: 50%;
    border-left: 8px solid black;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
}

footer{
    display: flex;
    width: 100%;
    border-top: 8px solid black;
    margin-top: 3px;
    height: 100px;
}
.foot {
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.doordash{
    background-color: #c51b1b;
    color: white;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    justify-content: center;
    align-content: center;
    margin: 200px auto;
}
/* dark mode */
.switch-dark{
    background-color:#c51b1b;
    color:whitesmoke;
}
.switch-dark .header {
    border-bottom-color: whitesmoke;
    background-color: #c51b1b;
}
.switch-dark button {
    background-color:whitesmoke;
    border: 3px solid #c51b1b;
    color:#c51b1b;
    
}
.switch-dark button:hover{
    background-color: lightcoral;
    color: whitesmoke;
}

.switch-dark button:active{
    background-color: rgb(150, 9, 9);
}
.switch-dark .box1 {
    border-right-color: whitesmoke;
    border-top-color: whitesmoke;
    border-bottom-color: whitesmoke;
    background-color: #c51b1b;
}
.switch-dark .box1 .doordash{
    background-color: whitesmoke;
    color:#c51b1b;
 }
.switch-dark .box2 {
    border-left-color:  whitesmoke;
    border-top-color:  whitesmoke;
    border-bottom-color: whitesmoke;
    background-color:#c51b1b;
}
.switch-dark .box2 #submit{
    background-color: whitesmoke;
    color:#c51b1b
}
.switch-dark .foot{
    border-top-color: antiquewhite;
    background-color: #c51b1b;
    color:whitesmoke
}
.switch-dark .foot a{
    color:whitesmoke;
}


/* light mode */
.switch-light{
    background-color:whitesmoke;
    color: #292727;
}
.switch-light .header {
    border-bottom-color: #c51b1b;
    background-color: whitesmoke;
}
.switch-light button {
    background-color:#c51b1b;
    border: 3px solid whitesmoke;
    color:whitesmoke;
    padding: 5px;
}
.switch-light button:hover{
    background-color: red;
}

.switch-light button:active{
    background-color: rgb(150, 9, 9);
}
.switch-light .box1 {
    border-right-color:#c51b1b;
    border-top-color: #c51b1b;
    border-bottom-color: #c51b1b;
    background-color: whitesmoke;
}
.switch-light .box1 .doordash{
   color:whitesmoke;
}
.switch-light .box2 {
    border-left-color:  #c51b1b;
    border-top-color:  #c51b1b;
    border-bottom-color: #c51b1b;
    background-color: whitesmoke;
    color:#c51b1b;
}
.switch-light .foot{
    border-top-color: #c51b1b;
    background-color: whitesmoke;

}
.switch-light .foot a{
    color:#c51b1b;
}